<div>
  <h2>My form inputs!</h2>
  <h4>Full name</h4>
  <p>
    <%= 'some students name' %>
  </p>
  <h4>Course</h4>
  <p>
    <%='that students course' %>
  </p>
  <h4>Grade level</h4>
  <p>
    <%= 'that students grading' %>
  </p>
</div>
